
<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$setting['site-keywords']['value']}"/>
<meta name="description" content="{$setting['site-description']['value']}" />

<link href="__STATIC__/css/css.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="__STATIC__/css/common.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="__STATIC__/css/font-awesome.min.css?ver={$version}" rel="stylesheet" type="text/css" />
<script src="__STATIC__/js/jquery.min.1.8.2.js?ver={$version}" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.SuperSlide.2.1.1.js?ver={$version}" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/js/slider.js?ver={$version}"></script>
<script src="__STATIC__/js/common_js.js?ver={$version}" type="text/javascript"></script>
<script src="__STATIC__/js/jquery.foucs.js?ver={$version}" type="text/javascript"></script>
<!--<script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=402727"></script>-->
<title>{$title}--{$setting['site-name']['value']}</title>
</head>

<body>
<!--顶部样式-->
<include file="Public:header"  title="首页菜单"/>
<!---->
{__CONTENT__}
<include file="Public:footer"  title="首页脚"/>